<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.pojo.PreventionMapper">

	<insert id="PreventionInsert"
		parameterType="kr.smhrd.pojo.PreventionVO">
		insert into t_prevention (u_id, pv_addr, pv_area, pv_date, pv_st_dt, pv_ed_dt, pv_price, pv_note)
		value(#{u_id}, #{pv_addr}, #{pv_area}, now(), #{pv_st_dt}, #{pv_ed_dt},#{pv_price}, #{pv_note})
	</insert>
	
	<insert id="image" parameterType="kr.smhrd.pojo.ImageVO">
	    insert into t_image (u_id, p_name, p_path, p_date)
	    value(#{u_id}, #{p_name}, #{p_path}, now())
	</insert>
	<select id="p_num" resultType="int">
	    select p_num from t_image ORDER BY p_date DESC LIMIT 1
	</select>
	
	<select id="imageSelect" resultType="kr.smhrd.pojo.ImageVO">
	    select * from t_image where p_num = #{p_num}
	    
	</select>
	
</mapper>