<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.pojo.PreventionMapper">

	<insert id="PreventionInsert"
		parameterType="kr.smhrd.pojo.PreventionVO">
		insert into t_prevention (p_num,u_id,admin_id, pv_addr,
		pv_area, pv_date, pv_st_dt, pv_ed_dt, pv_price,
		pv_note,pv_crop,pv_disease,pv_drug)
		value(#{p_num},#{u_id},#{admin_id},#{pv_addr}, #{pv_area}, now(),
		#{pv_st_dt},
		#{pv_ed_dt},#{pv_price},#{pv_note},#{pv_crop},#{pv_disease},#{pv_drug})
	</insert>

	<insert id="imageInsert" parameterType="kr.smhrd.pojo.ImageVO">
		insert into t_image
		(u_id, p_name, p_path, p_folder, p_date)
		value(#{u_id},
		#{p_name},#{p_path},#{p_folder},now())
	</insert>

	<select id="imageSelect" resultType="kr.smhrd.pojo.ImageVO">
		select * from t_image where u_id = #{u_id} and p_folder = #{p_folder}
		<!-- select * from t_image where u_id = #{u_id} and p_folder = #{p_folder} 
			ORDER BY p_date desc -->
	</select>

	<select id="deepSelect" resultType="kr.smhrd.pojo.DeepVO">
		select * from t_deep where u_id = #{u_id} and deep_folder =
		#{deep_folder}
		<!-- select * from t_deep where u_id = #{u_id} and deep_folder = #{deep_folder} 
			ORDER BY p_date desc -->
	</select>

	<select id="AdminAmount" resultType="int">
		select count(*) from t_admin
	</select>
	<select id="AdminSelect" resultType="kr.smhrd.pojo.D_MemberVO">
		select * from t_admin where
		admin_id= #{admin_id}
	</select>

	<!-- <select id="LookupSelect" resultType="kr.smhrd.pojo.PreventionVO"> 
		select * from t_prevention where u_id = #{u_id} </select> -->
	<select id="LookupSelect"
		resultType="kr.smhrd.pojo.PreventionVO">
		select * from t_prevention where pv_date = #{pv_date}
	</select>

	<select id="preventionList"
		resultType="kr.smhrd.pojo.PreventionVO">
		select * from t_prevention where u_id = #{u_id} ORDER BY
		pv_date desc
	</select>

	<select id="MylookupImage" resultType="kr.smhrd.pojo.ImageVO">
		select * from t_image where p_folder = #{p_folder}
		<!-- select * from t_image where u_id = #{u_id} and p_folder = #{p_folder} 
			ORDER BY p_date desc -->
	</select>
	<update id="lookupUpdate"
		parameterType="kr.smhrd.pojo.PreventionVO">
		update t_prevention set
		u_id=#{u_id},pv_addr=#{pv_addr},pv_area=#{pv_area}, pv_st_dt =
		#{pv_st_dt}, pv_ed_dt=#{pv_ed_dt},
		pv_note=#{pv_note},pv_crop=#{pv_crop},pv_disease=#{pv_disease},pv_drug=#{pv_drug}
		where pv_num = #{pv_num}
	</update>
	<select id="P_name" resultType="kr.smhrd.pojo.ImageVO">
		select * from t_image where p_num = #{p_num}
		<!-- select * from t_image where u_id = #{u_id} and p_folder = #{p_folder} 
			ORDER BY p_date desc -->
	</select>
	<select id="p_name" resultType="kr.smhrd.pojo.ImageVO">
		select * from t_image where p_folder = #{p_folder}
		<!-- select * from t_image where u_id = #{u_id} and p_folder = #{p_folder} 
			ORDER BY p_date desc -->
	</select>
	
	<select id="getImgList" resultType="kr.smhrd.pojo.ImageVO">
	    select * from t_image where p_folder = #{p_folder}
	</select>

</mapper>